body {
    
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}
.logo-img {
  width: 200px;
  height: 35px;
}
@media (max-width: 576px) {
  .navbar {
      flex-direction: column; 
      align-items: center;
      text-align: center;
  }
  .navbar-nav {
      flex-direction: column;
      align-items: center;
      padding: 0; 
      width: 100%; 
  }
  .nav-item {
      margin: 5px 0;
  }
  .logo-container {
      margin: 0; 
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .login-margin {
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: flex-end; 
  }
  .logo-img {
    left: 20%;
    right: 50%;
    max-width: 200px;
    width: 200px;
    height: 35px;
  }
}
.logo-margin {
  margin-left: 80px;
}
.login-margin {
  margin-right: 80px;
}
.custom-carousel-height {
    margin-top: 30px;
    height: 525Px;
    object-fit: cover;
}
#carouselExampleDark {
    border-top-left-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
}
#carouselExampleDark .carousel-item img {
    border-top-left-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: white;
    border-radius: 50%;
}
.carousel-control-prev,
.carousel-control-next {
    color: white;
}
.carousel-caption h1, .carousel-caption p {
    color: white;
}
#About {
    margin-top: 80px;
    font-family: 'Poppins';
    background-color: #E6E3C8;
}
.join-button {
    margin-bottom: 100px;
    margin-top: 40px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.join-button:hover {
    background-color: black;
    color: white;
}
@media (max-width: 768px) {
  .join-button {
      font-size: 0.9rem; 
      padding: 8px 16px;
  }

  h1 {
    max-width: 300px;
      font-size: 1.5rem; 
      margin-top: 50px;
      margin-bottom: 30px; 
  }

  p {
      max-width: 300px;
      font-size: 1rem;
      line-height: 1.5;
      margin: 0 ;
  }
}

@media (max-width: 576px) {
  h1 {
      font-size: 1.5rem;
  }

  p {
      font-size: 0.9rem; 
  }
}
.image-container {
    position: relative;
    width: 100%; 
    max-width: 747px; 
    height: 170px; 
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-bottom: 20px;
    overflow: hidden; 
    background-color: transparent; 
  }
  
  .responsive-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .image-container:hover .overlay {
    opacity: 1; 
  }
  
  .overlay-text {
    color: white; 
    font-size: 18px; 
    text-align: center; 
    padding: 10px; 
  }
.image-containerr {
    position: relative;
    width: 100%; 
    max-width: 747px; 
    height: 170px; 
    margin-bottom: 20px;
    overflow: hidden; 
    background-color: transparent; 
  }
  .responsive-imagee {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  .overlayy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
  }
  
  .image-containerr:hover .overlayy {
    opacity: 1; 
  }
  
  .overlay-textt {
    color: white; 
    font-size: 18px; 
    text-align: center; 
    padding: 10px;
  }
.image-containerrr {
    position: relative;
    width: 100%; 
    max-width: 747px; 
    height: 170px; 
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-bottom: 20px;
    overflow: hidden; 
    background-color: transparent; 
  }
  .responsive-imageee {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  .overlayyy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .image-containerrr:hover .overlayyy {
    opacity: 1; 
  }
  
  .overlay-texttt {
    color: white;
    font-size: 18px; 
    text-align: center; 
    padding: 10px; 
  }
  
  .button-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
  }
  
  .button-container {
    display: flex;
    justify-content: center; 
    gap: 10px;
  }
  
  .button {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 40px;
    width: 433px; 
    height: 115px; 
    overflow: hidden; 
    transition: all 0.3s ease; 
    text-decoration: none; 
    border-radius: 20px; 
  }
  
  .image-wrapper {
    position: relative; 
    width: 100%; 
    height: 100%; 
  }
  
  .button img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px; 
  }
  
  .button-text {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-weight: bold; 
    font-size: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    text-align: center;
  }
  
  .button:hover {
    width: 600px; 
  }
  
  .button-container .button:hover ~ .button {
    width: 450px; 
  }

.team-card {
  position: relative;
  background-size: cover; 
  background-position: center; 
  height: 418px;
  color: white;
}

.team-card .card-body {
  position: absolute; 
  bottom: 10px; 
  left: 10px; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
  border-radius: 5px; 
}

@media (max-width: 768px) {
  .team-card {
      height: 250px;
  }
}
